body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white;

}

#primertitulo{
    border: 1px solid black;
    border-radius: 5px;
    
    margin: 1px 50px 1px 50px;
    
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,16,36,1) 57%, rgba(0,212,255,1) 100%);

    color: aliceblue;
    text-align: center;
    padding: 100px;
    height: 260px;
}
.container{
    text-align: center;
    border: 1px solid white;
}

.d-block w-100{
    margin: 0 auto;
}
#barra{
    text-align: center;
}
.form-signin{
    width: 40%;
    
    margin: 0 auto;
    

}
.text-center{
    padding: 150px;
    
}
#formulario{
    
        margin-bottom: 4rem;
        width: 40%;
        margin: 0 auto;
}

#menu{
    border: 1px solid black;
    border-radius: 5px;
    width: 50% auto;
    margin: 0 auto;
    height: 30px;
    background-color: bisque;
    text-align: center;
    padding: 20px;
}
.form-control{
    
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.menu{
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    background-color: aliceblue;
    font-size: 15px;
    margin: 5px 10px 5px 10px;
    width: 160px;
}
#contenido{
    border: 1px solid black;
    border-radius: 5px;
    width: 100% auto;
    margin: 0 auto;
    height: 800px;
    background-color: bisque;
    text-align: center;
    padding: 20px;
    

}
section{
    border: 1px solid black;
    border-radius: 5px;
    width: 100% auto;
    margin: 0 auto;
    height: 600px;
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    
}
footer{
   
    border-radius: 5px;
    width: 50% auto;
    margin: 0 auto;
    height: 30px;
    background: white;
    color: black;
    text-align:center;
    padding: 59px;
}
#Imagenes{
   width: auto;
   padding: 40px;
   border-radius: 5px;
   border: 1px solid black;
   background-color: aliceblue;
   height: 450px;
   
   
   

}
.parrafo{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
    height: 0 auto;
    background-color: bisque;
    text-align:center;
    padding: 50px;
    display: inline-table;
    font-size: 14px;
}